<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-image: url("/static/layered-waves-haikei.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
      }
    </style>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
                        initial-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,
                        initial-scale=1.0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title></title>
    {% block head %}{% endblock head %}
  </head>
  <body style="background-color: #001220">
    <div class="dropdown">
      <button
        class="btn btn-outline-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Tables
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for i in tables_list.keys() %}
        <li>
          <a class="dropdown-item" href="/{{i}}">{{ i[0]|upper}}{{i[1:] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% block body %}{% endblock body %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
